* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
 /* background-image: url(C:/Users/P13A-97-SOATOAVINA/Pictures/blender/images.jpg);*/
}
#main {
  display: flex;
  flex: 1;
}
#article {
  flex: 0 0 18vw;
  order: 1;
  background: white;
}
#nav {
  flex: 0 0 27vw;
  height:37vw
} 
#aside {
  flex: 0 0 37vw;
  height:37vw
}
#nav {
  background-image:url("/../assets/img/login.png");
  order: 3;
}
#quatre {
  background: white;
  order: 4;
  flex: 0 0 18vw
}
#aside {
  background: rgb(255,255,208);
  order: 2;
}
#header, #footer {
  background: white;
  height: 13vh;
}
#header, #footer, #article, #nav, #aside {
  padding: 1em;
}
#headerAccueil{
  background:  rgb(158,199,243);
  height: 25vh;
}
#headerAccueil{
  padding: 1em;
}
#search{
  background:  rgb(0, 195, 255);
  height: 15vh;
}
#search{
  padding: 1em;
}
.erreur{
  color:red;
}

.sign {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 400;
  line-height: 1.2;
  font-weight: bolder !important;
  color: rgb(3,21,63);
  margin-top: -15px;
}
@media (min-width: 1200px) {
  .sign {
    font-size: 3.8rem;
  }
}

.reg
{
  color:  rgb(255,255,208);
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: -20px;
}
